
.about
    background-color: $lgray
    padding: 5rem 2rem 0 2rem
    display: flex
    align-items: center
    justify-content: space-between
    @include small
        flex-direction: column
        align-items: center
        padding: 5rem 0 0 0
    &-text
        display: flex
        flex-direction: column
        width: 60%
        @include medium
            width: 55%
        @include small
            width: 90%
        p
            margin: 2rem 0
            @include small
    &-illustrations
        display: flex
        flex-direction: column
        align-items: center
        &_image
            display: flex
            justify-content: center
            background-color: $yellow
            height: 400px
            width: 400px
            clip-path: circle(50% at 50% 50%)
            @include medium
                width: 360px
                height: 360px
            @include small
                width: 300px
                height: 300px
            img
                height: 100%
            &:before
                content: "Hello World"
                color: $hgray
                font-family: "comfortaa"
                font-size: 2rem
                position: absolute
                width: 20%
                height: 20%
                background-color: $yellow
                transition: all 1s ease-in-out
                background-color: transparent
                opacity: 0
                top: 60%
                left: 8%
                @include small
                    font-size: 1.5rem
            &:hover
                &::before
                    opacity: 1

h4
    margin: 2rem 0

.skills
    width: 400px
    display: flex
    flex-wrap: wrap
    gap: 0.5rem 1rem
    @include medium
        width: 360px
    @include small
        width: 300px
    span
        min-width: 26%
        max-width: 49%
        flex: auto

.program-link
    color: $hgray
    text-decoration: underline
