@import "../assets/main.sass"

.about
    background-color: $color1
    padding-left: 2rem
    display: flex
    padding-top: 5rem
    &-text
        display: flex
        flex-direction: column
        width: 60%
        p
            color: $color4
            font-family: Nunito
            font-size: 24px
            font-style: normal
            font-weight: 400
            line-height: 150%
    &-image
        clip-path: circle(50% at 50% 50%)

.button_resume
    background-color: $color2
    border: none
