@import "../assets/main.sass"

.about
    background-color: $color1
    padding: 0 2rem
    display: flex
    align-items: center
    padding-top: 5rem
    justify-content: space-between
    &-text
        display: flex
        flex-direction: column
        width: 60%
        p
            margin: 2rem 0
    &-image
        display: flex
        justify-content: center
        background-color: $color2
        height: 400px
        width: 400px
        clip-path: circle(50% at 50% 50%)
        position: relative
        img
            height: 100%
        &:before
            content: "Hello World"
            color: $color4
            font-family: "comfortaa"
            font-size: 2rem
            position: absolute
            width: 20%
            height: 20%
            background-color: $color2
            transition: all 1s ease-in-out
            background-color: transparent
            opacity: 0
            top: 60%
            left: 8%
        &:hover
            &::before
                opacity: 1
