
.projects-container
    background-color: $lgray
    display: flex
    flex-direction: column
    align-items: center

.projects-title
    display: flex
    flex-direction: column
    align-items: center

.projects-cards
    max-width: 1280px
    @include large
        max-width: 900px
    @include small
        max-width: 700px
    @include xsmall
        max-width: 376px
    @include xxsmall
        max-width: 320px

.projects-card
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 1rem
    overflow: hidden
    border: solid 2px $hgray
    width: 380px
    @include small
        width: 280px
    @include xxsmall
        width: 220px
    &_text
        background-color: #FFFFFF
        display: flex
        flex-direction: column
        width: 100%
        height: 300px
        padding: 1.5rem 2rem 1rem 2rem
        justify-content: start
        @include medium
            height: 150px
        @include small
            padding: 1rem
            height: 130px
        p
            margin-top: 1rem
            color: $hgray
            font-size: calc(18rem/16)
            line-height: 150%
            @include medium
                display: none
        &_technologies
            margin-top: auto
            display: flex
            gap: 1.5rem
    &_image
        overflow: hidden
        width: 100%
        height: 380px
        border-bottom: solid 1px $hgray
        @include small
            height: 280px
        @include xxsmall
            height: 220px
        img
            transition: transform 0.5s ease-in-out
            width: 100%
            height: 100%
            object-fit: cover
    &:hover
        img
            transform: scale(1.1)

.splide__slide
    display: flex
    justify-content: center

#svgp, #svgn
    fill: $lblack

.splide__arrow--prev, .splide__arrow--next
    &:hover
        transition: all 0.3s ease-in-out
        #svgp, #svgn
            fill: $yellow
