
.welcome
    display: flex
    align-items: center
    height: 95vh
    position: relative
    background-color: $lgray
    @include small
        position: static
.welcome-illustration
    clip-path: url(#mask)
    position: absolute
    top: -60px
    right: 0
    background-color: $yellow
    z-index: 1
    @include medium
        clip-path: url(#mask-s)
    @include small
        visibility: hidden
.welcome-text
    margin-top: 5rem
    padding-left: 2rem
    max-width: 640px
    z-index: 3
    position: absolute
    top: 0
    left: 0
    @include large
        max-width: 560px
    @include medium
        max-width: 460px
    @include small
        position: static
        margin-top: 3rem
        max-width: 100%
        margin-bottom: 3rem
    @include xsmall
        padding-left: 0
        display: flex
        flex-direction: column
        align-items: center
    h2
        font-family: Nunito
        font-size: calc(20rem/16)
        font-style: normal
        font-weight: 700
        line-height: normal
        text-transform: uppercase
        color: $yellow
        margin-top: 1.5rem
        text-shadow: 1px 1px $lblack, -1px 1px $lblack, -1px -1px $lblack, 1px -1px $lblack
        letter-spacing: 0.1rem
    &_hello, &_name
        font-family: "Playfair Display"
        font-size: calc(56rem/16)
        font-style: normal
        font-weight: 700
        line-height: 120%
        font-optical-sizing: auto
        @include large
            font-size: 3rem
        @include medium
            font-size: 2.5rem
        @include xsmall
            font-size: 2rem
        @include xxsmall
            font-size: 1.8rem
    &_addition
        color: $hgray
        font-size: 1.5rem
        margin: 2rem 0
        @include medium
            font-size: 1.3rem
        @include xsmall
            width: 90%
        @include xxsmall
            font-size: 1rem
    &_buttons
        display: flex
        gap: 1rem
        @include xxsmall
            gap: 0.5rem
